## IMPORT NAMESPACES

import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(GenomicAlignments)
import(SummarizedExperiment)
import(Rsamtools)

## IMPORT FUNCTIONS

importFrom(AnnotationDbi, select)
importFrom(Biostrings, DNAString, DNAStringSet, getSeq, translate, type)
importFrom(igraph, clusters, degree, delete.edges, delete.vertices,
    edge.connectivity, get.data.frame, get.shortest.paths,
    graph.data.frame, induced.subgraph, neighborhood, plot.igraph,
    shortest.paths, subcomponent)
importFrom(GenomicFeatures, cdsBy, exonsBy, mapFromTranscripts,
    mapToTranscripts)
importFrom(GenomeInfoDb, keepSeqlevels, seqinfo, seqlengths, seqlevels)
importFrom(parallel, mclapply, mcmapply)
importFrom(rtracklayer, export, import)
importFrom(RUnit, checkIdentical, checkTrue)

## IMPORT CLASSES

importClassesFrom(rtracklayer, GenomicRangesORGenomicRangesList)

## EXPORT FUNCTIONS

export(
    analyzeFeatures,
    analyzeVariants,
    annotate,
    convertToSGFeatures,
    convertToTxFeatures,
    exportFeatures,
    findSGVariants,
    getBamInfo,
    getSGFeatureCounts,
    getSGVariantCounts,
    importTranscripts,
    makeSGFeatureCounts,
    makeVariantNames,
    mergeTxFeatures,
    plotCoverage,
    plotFeatures,
    plotSpliceGraph,
    plotVariants,
    predictTxFeatures,
    predictVariantEffects,
    processTerminalExons
)

## EXPORT CONSTRUCTORS

export(
    TxFeatures,
    SGFeatures,
    SGVariants,
    SGFeatureCounts,
    SGVariantCounts
)

## EXPORT ACCESSORS

exportMethods(
    type,
    txName,
    geneName,
    splice5p,
    splice3p,
    featureID,
    geneID,
    from,
    to,
    segmentID,
    eventID,
    variantID,
    closed5p,
    closed3p,
    closed5pEvent,
    closed3pEvent,
    variantType,
    variantName,
    featureID5p,
    featureID3p,
    featureID5pEvent,
    featureID3pEvent,
    counts,
    FPKM,
    variantFreq
)

exportMethods(
    'type<-',
    'txName<-',
    'geneName<-',
    'splice5p<-',
    'splice3p<-',
    'featureID<-',
    'geneID<-',
    'from<-',
    'to<-',
    'segmentID<-',
    'eventID<-',
    'variantID<-',
    'closed5p<-',
    'closed3p<-',
    'closed5pEvent<-',
    'closed3pEvent<-',
    'variantType<-',
    'variantName<-',
    'featureID5p<-',
    'featureID3p<-',
    'featureID5pEvent<-',
    'featureID3pEvent<-',
    'counts<-',
    'FPKM<-',
    'variantFreq<-'
)
