## IMPORT NAMESPACES

import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(GenomicAlignments)
import(SummarizedExperiment)
import(Rsamtools)

## IMPORT FUNCTIONS

importFrom(AnnotationDbi, select)
importFrom(Biostrings, DNAString, DNAStringSet, getSeq, translate)
importFrom(igraph, clusters, degree, delete.vertices, edge.connectivity,
 get.data.frame, get.shortest.paths, graph.data.frame, induced.subgraph,
 neighborhood, plot.igraph, shortest.paths, subcomponent)
importFrom(GenomicFeatures, exonsBy, mapToTranscripts)
importFrom(GenomeInfoDb, seqinfo, seqlengths, seqlevels)
importFrom(parallel, mclapply, mcmapply)
importFrom(rtracklayer, export)
importFrom(RUnit, checkIdentical, checkTrue)

## IMPORT CLASSES

importClassesFrom(rtracklayer, GenomicRangesORGenomicRangesList)

## EXPORT FUNCTIONS

export(
 analyzeFeatures,
 analyzeVariants,
 annotate,
 convertToSGFeatures,
 convertToTxFeatures,
 exportFeatures,
 findSGVariants,
 getBamInfo,
 getSGFeatureCounts,
 getSGVariantCounts,
 makeSGFeatureCounts,
 makeVariantNames,
 mergeTxFeatures,
 plotCoverage,
 plotFeatures,
 plotSpliceGraph,
 plotVariants,
 predictTxFeatures,
 processTerminalExons
)

## EXPORT CONSTRUCTORS

export(
 TxFeatures,
 SGFeatures,
 SGVariants,
 SGFeatureCounts,
 SGVariantCounts
)

## EXPORT ACCESSORS

exportMethods(
 type,
 txName,
 geneName,
 splice5p,
 splice3p,
 featureID,
 geneID,
 from,
 to,
 segmentID,
 eventID,
 variantID,
 closed5p,
 closed3p,
 variantType,
 variantName,
 featureID5p,
 featureID3p,
 counts,
 FPKM,
 countsVariant5p,
 countsTotal5p,
 countsVariant3p,
 countsTotal3p,
 countsVariant,
 countsTotal,
 variantFreq
)

exportMethods(
 'type<-',
 'txName<-',
 'geneName<-',
 'splice5p<-',
 'splice3p<-',
 'featureID<-',
 'geneID<-',
 'from<-',
 'to<-',
 'segmentID<-',
 'eventID<-',
 'variantID<-',
 'closed5p<-',
 'closed3p<-',
 'variantType<-',
 'variantName<-',
 'featureID5p<-',
 'featureID3p<-',
 'counts<-',
 'FPKM<-',
 'countsVariant5p<-',
 'countsTotal5p<-',
 'countsVariant3p<-',
 'countsTotal3p<-',
 'countsVariant<-',
 'countsTotal<-',
 'variantFreq<-'
)
